.comment {
  display: block;
  width: 500px;
  resize: none;
  margin-bottom: 10px;
}

.rating {
  margin-right: 15px;
  cursor: pointer;
}

.saveBtn {
  cursor: pointer;
  margin-bottom: 25px;
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  border: none;
}

.show {
  cursor: pointer;
  margin-bottom: 20px;
  border: none;
  background-color: transparent;
  outline: none;
}

.show:hover {
  color: red;
}
