.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 320px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info {
  max-width: 300px;
}
.info p {
  margin: 0;
  margin-bottom: 20px;
}
.img {
  width: auto;
  height: 150px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.name {
  font-weight: bold;
  font-size: 18px;
}
.price {
  display: inline-block;
  font-weight: bold;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.list li {
  width: 290px;
}

.list li:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.addBtn {
  outline: none;
  align-self: center;
  width: 150px;
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #3a8a9e;
  font-family: Arial;
  font-size: 17px;
  padding: 4px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
}
.addBtn:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}
.addBtn:active {
  position: relative;
  top: 1px;
}
