.container {
  display: flex;
  align-items: center;
}

.wrap {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 30px;
}

.name {
  display: inline-block;
  height: auto;
  position: relative;
}

.name::after {
  display: block;
  width: 12px;
  position: absolute;
  top: 0;
  right: -18px;
}

.up::after {
  content: url('./addition/caret-up-solid.svg');
}

.down::after {
  content: url('./addition/caret-down-solid.svg');
}
